* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: powderblue;
  width: 100%;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
}

.search-form {
  width: 224px;
}

.input {
  position: absolute;
  top: 12px;
  width: 224px;
  height: 38px;
  border-radius: 10px;
  border: 0;
  padding-left: 10px;
}

.btn-search {
  position: relative;
  right: -150px;
  bottom: 2px;
  cursor: pointer;
  height: 24px;
  border-radius: 6px;
  border: 0;
  background-color: darkgray;
  color: antiquewhite;
}

.btn-load {
  position: fixed;
  bottom: 50px;
  left: 46%;
  cursor: pointer;
  height: 24px;
  border-radius: 6px;
  border: 0;
  background-color: darkgray;
  color: antiquewhite;
}

.hidden{
  display: none;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 104px;
}

img {
  height: 350px;
  max-width: 350px;
  object-fit: cover;
}

.all-cards {
  margin-right: 40px;
}

.photo-card {
  max-width: 350px;
  margin-bottom: 40px;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.photo-card:hover{
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.all-cards:nth-child(3n + 3) {
  margin-right: 0;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 22px;
}

.info-item {
  margin: 0;
}

.info-item:nth-child(odd) {
  margin-right: 60px;
  margin-left: 22px;
}
